.container{
    width: 100%;
}
.head{
    width: 100%;
}

.navigation{
    width:100%;
    height: 60px;
   	background-color:#02163f;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top:0;
	margin: 0px !important;
}

.nav__logo{
    height:60px;
    width:auto;
    background-size: auto;
    margin-left: 9%;
}


.nav__bar{
   color:white;
   margin-right: 40px;
}

.bars{
   font-size: 30px !important;
}

.nav__links{
   width: 50%;
   color:white;
   display: flex;
   align-items: center;
   text-align:right;
   padding:0 35px;
}

.nav__links a{
   color:white;
   text-decoration: none;
   font-size: 35px;
   margin: 0 5px 0 5px;
}


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #02163f;
    opacity: 0.9;
    /* background-color: rgba(0,0,0, 0.9); */
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.contactdetails{
    width: 90%;
    margin: 5% 5%;
}
.contactdetails h1{
    text-align: center;
    text-transform: uppercase;
    font-family:CCClobberinTimeCrunchy, sans-serif;
    font-style: normal;
    font-weight:400;
    font-size: 40px;
    
}
.contactdetails h2{
    text-align: center;
    text-transform: uppercase;
    font-family:CCClobberinTimeCrunchy, sans-serif;
    font-style: normal;
    font-weight:400;
    font-size: 25px;
    
}
.contactdetails h3{
    text-align: center;
    text-transform: uppercase;
    font-family:CCClobberinTimeCrunchy, sans-serif;
    font-style: normal;
    font-weight:400;
    font-size: 30px;
    color: #fff
    
}
.contactdetails h4{
    margin: 15px;
    text-align: justify;
    font-family:CCClobberinTimeCrunchy, sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    font-weight:bold;
    font-size: 15px;
    color:black;
}
.contactdetails h5{
    margin: 15px;
    text-align: left;
    font-family:CCClobberinTimeCrunchy, sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    font-weight:bold;
    font-size: 18px;
    color:black;
}
.row3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
  
.row1{       
    height: 400px;
    width:100%;
    margin-bottom: 30px;        
}
.column_a1{
    width: 100%;
    height: 500px;
    background-color:#02163f;
    margin: 2% 0% 0% 0%;
}

.column_b1{
    width: 100%;
    height: 500px;
    /* background-color: blue; */
    margin: 2% 0% 0% 0%;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("assets/image/slider/slider3.jpg");
    background-size:cover;
    background-repeat: no-repeat;  
}
.info1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-bottom: 15px;

}
.icon1{
    /* position: absolute; */
    bottom: -20%;
    left: 6%;
    width: 55px;
    height: 55px;
    background:black;
    border-radius: 50px;
    border: 2px solid #fff;
    text-align: center;
    margin-right: 12px;
    margin-left: 10px;
}
.icon1 i{
    font-size: 1.3em;
    color: #fff;
    line-height: 2.5em;
}
.name1{
    text-align: left;
    font-family:CCClobberinTimeCrunchy, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    
    
}
form{
    margin-top:20px;
    margin-left: 5%;
}

.input input{
    height: 30px;
    width:90%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid white;
}

textarea{
    height: 100px;
    width:90%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid white;
}



::placeholder {
    color: black;
    font-weight: bold;
    text-align: left;
    font-family:CCClobberinTimeCrunchy, sans-serif;
    font-style: normal;
    font-size: 18px;
}


.button {
  background-color: darkorange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.input1{
    margin: 4px 2px;
}
.subscribe {
    width: 92%;
    margin: 5% 5%;
    background-image: linear-gradient(rgb(2, 80, 115),#1a95bb82), url("assets/image/slider/slider3.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
}
.subscribe-grid {
    margin: 0 auto;
    width: 70%;
}
.subscribe h5{
    color: black;
    font-weight: bold;
    text-align: center;
    font-family:CCClobberinTimeCrunchy, sans-serif;
    font-style: normal;
    font-size: 18px;

}
.subscribe p{
    color: black;
    text-align: center;
    font-family:CCClobberinTimeCrunchy, sans-serif;
    font-style: normal;
    font-size: 20px;
}
.subscribe-grid input[type="email"] {
    display: inline-block;
    background: transparent;
    border: solid 2px #32343a;
    width: 55%;
    outline: none;
    padding: 1em 4em 1em 1em;
    font-size: 1em;
    color: #fff;
    border-radius: 0px;
    letter-spacing: 1px;
}
::placeholder{
    text-align: center
}

.footer{
    width: 100%;
    background-color:black;
    padding:5px 0px 5px 0px;
}
.footer h1{
    text-align:center;
    text-transform: uppercase;
    font-family:CCClobberinTimeCrunchy, sans-serif;
    font-style: normal;
    font-weight:200;
    font-size: 9px;
    color: white;

}
.footer a{
    color:blue;
    text-decoration: none;
    font-size: 8px;
}
/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
    .head{
        width: 100%;
    }
	.nav__links{
		display: none;
	}
} 


/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 750px) {
    .container{
        width: 100%;
    }
    .head{
        width: 100%;
    }

	.navigation{
		height: 90px;
		padding:0 0px;
	}
    .nav__logo{
        margin-left: 9%;
    }
	.nav__links{
	    width: 50%;
	    color:white;
	    display: flex;
	    align-items: center;
	    text-align:right;
	    padding:0 55px;
	}
	.nav__links a{
	    color:white;
	    text-decoration: none;
	    font-size: 30px;
	    margin: 0 10px 0 10px;
	}

    .nav__bar{
		display: none;
	}

    .contactdetails{
        width: 94%;
        margin: 3% 3%;
    }
    .row3 {
        grid-template-columns: repeat(2,1fr);
    }


    .column_a1{
        height: 500px;
    }
    .column_b1{
        height: 500px;
    }
    .contactdetails h2{
        font-size: 30px;
    }
    .contactdetails h4{
        font-size: 18px;
    }
    .subscribe-grid input[type="email"] {
        width: 88%;
    }
    .footer{
        width: 100%;
        margin: 0% 0%;
    }
    .footer h1{
        font-size: 20px;
    }
    .footer a{
        font-size: 15px;
    }
}
